# @file package-release.yml
---
name: Python package release
on:
  release:
    types: [created]
jobs:
  release:
    # specify the instance
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest, macos-latest]
        python-version: [3.11, 3.12]
    steps:
    # checkout the repository to master
    # and use it as the current working directory
    - uses: actions/checkout@v1
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
    - name: Setup Python
      run: uv python install ${{ matrix.python-version }}
    - name: Install system dependencies
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update
          sudo apt-get install -y libxml2-dev libxslt-dev
        elif [ "$RUNNER_OS" == "macOS" ]; then
          brew install libxml2 libxslt
        fi
    - name: Build Python package
      run: uv build
    - name: Twine check
      run: uvx twine check dist/*
    - name: Publish artifacts
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/*.whl
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
